.LayoutContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;

  &__content {
    overflow-y: auto;
    display: inherit;
  }
}

.PageView {
  display: grid;
  row-gap: 1em;
  grid-template-rows: auto 1fr;
  padding: 24px;

  & h1 {
    font-size: 24px;

    body.dark & {
      color: #fff;
    }
  }
}
