.SearchForm {
  display: flex;
  align-items: center;

  &_txt {
    font-weight: normal;
    font-size: 14px;
  }

  &Input {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #f1f1f1;
    border: none;
    outline: 0;
    padding: 0.8em 1em;
    width: 100%;
    height: 45px;
    margin-left: 1em;

    body.dark & {
      background-color: #2b3149;
    }

    &__icon {
      color: black;

      body.dark & {
        color: white;
      }
    }

    &__input {
      width: 160px;
      min-width: 160px;
      margin-left: 1em;
      border: 0;
      background: #f1f1f1;
      outline: 0;
      width: 100%;
      height: 40px;

      body.dark & {
        background-color: #2b3149;
        color: #fff;
      }
    }

    &__btn {
      border-bottom: 2px solid #da9f0b;
      font-weight: bold;

      &:hover {
        background-color: #fec020;
      }
    }
  }
}
