{
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off"
  },
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true
  }
}
