$color-principal: #072146;
$color-principal-alt: #0e2649;

$color-secundario: #043264;
$color-secundario-alt: #0c4581;

$color-terciario: #028484;
$color-terciario-alt: #11a3a3;

$color-texto: #373737;
$color-texto-light: #b8b8b8;
$color-texto-alt: #ffffff;

$color-encabezados: #282d31;
$color-encabezados-alt: #494949;

$color-oscuro: #161616;

$color-border: #d4d4d4;

$color-background: #fafdff;

$color-boxShadow: rgba(204, 204, 204, 0.4);
