$font-encabezados: "Open Sans", sans-serif;
$font-textos: "Lato", "sans-serif";

// TAMAÑO DE FUENTES
$fontSize-encabezados: 32px;
$fontSize-titulo: 18px;
$fontSize-subtitulo: 16px;

$fontSize-parrafo: 14px;
$fontSize-parrafo-alt: 12px;

$fontSize-small: 10px;
